@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-regular-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.display-flex{
  display: flex;
}
.quicksand-regular-font{
  width: 1440px;
  margin: auto;
  margin-top: 30px;
}
.quicksand-regular-font{
  background-image: url("../assets/bg.png");
}
/* navbar section */
.navbar{
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.school{
  /* margin-left: 30px; */
  font-size:2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.navbar-logo{
  justify-content: end;
}
.nav-links{
  font-size:1.4rem;
  font-weight: bold;
  gap: 30px;
}
.nav-liems-1{
  list-style: none;
  text-decoration: none;
  gap: 30px;
  color: orange;
}
.nav-liems-2{
  list-style: none;
  text-decoration: none;
  gap: 30px;
  color: #01ACFD;
}
.nav-liems-3{
  list-style: none;
  text-decoration: none;
  gap: 30px;
  color: #05D4DF;
}
.nav-liems-4{
  list-style: none;
  text-decoration: none;
  gap: 30px;
  color: #5D58EF;
}
.nav-button{
  height: 50px;
  width: 197px;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 10px;
}
/* body section style */
.header-section{
  justify-content: space-between;
  gap: 24px;
  margin-top: 50px;
}
.empowering-student{
  font-size: 3rem;
}
#header-span{
  color: orange;
}
#header-span-2{
  color: #01ACFD;
}
.header-description{
  width: 640px;
  font-size: 1.1rem;
  color: black;
 margin-bottom: 24px; 
}
.enroll-button{
  height: 50px;
  width: 197px;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
}
/* card section */

.card-header{
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
.card-header-section{
  justify-content: space-between;
  text-align: center;
}
.card-section{
  height: 476.78px;
  width: 367.8px;
  border: 1px solid #DEF5FF;
  border-radius: 10px;
  background: linear-gradient(to top, white,#DEF5FF) ;
  align-items: center;
}
.card-section h3{
  font-size: 1.7rem;
  font-weight: bold;
}
.card-section h5{
  font-weight: bold;
  color: #64C8FF;

}
.card-section p{
  font-size: 1rem;
  color: #808080;
  font-weight: normal;
}
.card-section-2{
  height: 476.78px;
  width: 367.8px;
  border: 1px solid #FFF4DC;
  border-radius: 10px;
  background: linear-gradient(to top, white,#FFF4DC) ;
}
.card-section-2 h3{
  font-size: 1.7rem;
  font-weight: bold;
}
.card-section-2 p{
  font-size: 1rem;
  color: #808080;
  font-weight: normal;
}
.card-section-2 h5{
  font-weight: bold;
  color: orange;
}
.card-section-3{
  height: 476.78px;
  width: 367.8px;
  border: 1px solid #F2E8FF ;
  border-radius: 10px;
  background: linear-gradient(to top, white,#F2E8FF) ;
}
 
.card-section-3 h3{
  font-size: 1.7rem;
  font-weight: bold;
}
.card-section-3 p{
  font-size: 1rem;
  font-weight: normal;
  color: #808080;
}
.card-section-3 h5{
  font-weight: bold;
  color: #5D58EF;
}
.crickle-button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.arro-button{
  margin-top: 50px;
  width: 60px; 
  height: 60px; 
  border: none;
  background-color: orange; 
  border-radius: 50%;
  color: #DEF5FF;
  font-size: large;
  font-weight: bold;
}
/* story header section */
.stories-header{
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;

}
.story-3{
display: grid;
grid-template-columns: repeat(2, 1fr);
}










/* .arro-button img { */
  height: 60px;
  width: 60px;
  background-color: orange;
  border-radius: 50%;
  color: aliceblue;
}
/* responsive area */
@media screen and (max-width:576px) {
  .navbar, .nav-links, .nav-button{
    flex-direction: column;
  }
  .card-header-section{
    grid-template-columns: 1fr;
  }
}